@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:wght@400;600&display=swap');

/* Definição de variáveis */

:root{
  /* Fontes */
  --fonte-principal: "Poppins", sans-serif;
  --fonte-secundaria: "Montserrat", sans-serif;
  /* Paleta de cores */
  --cor-principal: #D67030;
  --cor-secundaria: #000;
  --cor-header: #007373;
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--fonte-principal);
    list-style: none;
    text-decoration: none;
}

body {
    background-color: red;
}

/* Header Menu */

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.nav-bar, ul, a {
    color: #fff;
    font-weight: 600;
    cursor: pointer;
}

.nav-bar, ul, a:hover {
    color: #D67030;
}



/* Section */






















    

    

