@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:wght@400;600&display=swap');

/* Definição de variáveis */

:root{
  /* Fontes */
  --fonte-principal: "Poppins", sans-serif;
  --fonte-secundaria: "Montserrat", sans-serif;
  /* Paleta de cores */
  --cor-principal: #D67030;
  --cor-secundaria: #000;
  --cor-header: #007373;
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--fonte-principal);
    list-style: none;
    text-decoration: none;
}

/* Header */


.header-container {
    background-color: var(--cor-header);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
}


.header-container img {
    width: 450px;
    cursor: pointer;
    
    
}




.nav-bar ul {
    display: flex;
    gap: 35px;
    cursor: pointer;

    li {
        color: #fff;
        text-shadow: 1px 1px 2px #000;
        font-size: 25px;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 1px;
    }
}

.nav-bar li:hover {
    opacity: .8;
    text-shadow: 1px 1px 2px #000;
}

.socials {
    display: flex;
    gap: 30px;
    font-size: 30px;
    cursor: pointer;
}

.socials i {
    background-color: #fff;
    padding: 15px;
    border-radius: 50%;
}

.socials i:hover {
    color: #fff;
    background-color: var(--cor-principal);
    transform: scale(1.2);
}

/* Slider */

.slider {
    margin: 0 auto;
    margin-top: 15px;
    width: 100%;
    height: auto;
    padding: 0 !important;
    overflow: hidden;
}

.slider-content {
    width: 400%;
    height: auto;
    display: flex;
}

.slider-content input, .img-mobile {
    display: none;
}

.slider-box {
    width: 25%;
    height: auto;
    position: relative;
    text-align: center;
    transition: 1s;
}

.slider-box img {
    width: 100%;
}

.nav-manual, .nav-auto {
    position: absolute;
    width: 100%;
    margin-top: 35%;
    display: flex;
    justify-content: center;
}

.nav-manual .manual-btn, .nav-auto div {
    border: 1px solid #1d4ed8;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s;
}

.nav-manual .manual-btn:not(:last-child), .nav-auto div:not(:last-child) {
    margin-right: 10px;
}

.nav-manual .manual-btn:hover {
    background-color: #1d4ed8;
}

#radio1:checked ~ .nav-auto .auto-btn1, #radio2:checked ~ .nav-auto .auto-btn2, #radio3:checked ~ .nav-auto .auto-btn3   {
    background-color: #1d4ed8;
}

#radio1:checked ~ .first {
    margin-left: 0%;
}

#radio2:checked ~ .first {
    margin-left: -25%;
}

#radio3:checked ~ .first {
    margin-left: -50%;
}

/* Section */

.prayers {
    background-color: var(--cor-header);
    display: flex;
    gap: 20px;
    margin-top: 70px;
    padding: 70px;
    box-shadow: 0 5px 12px #000;
   
}

.card {
    background-color: #ccc;
    padding: 2rem;
    box-shadow: 0 5px 12px #000;
}

.card:hover {
    opacity: .9;
}

.card img {
    border-radius: 1rem;
}

.card h2 {
    text-align: center;
    font-weight: bold;
}

.card p {
    margin-top: 10px;
    font-size: 20px;
}

.card a {
    text-decoration: none;
    font-weight: bold;
    color: var(--cor-header);
}

/* Programação */

.title {
    margin: 4rem 0;
    text-align: center;
    font-size: 4rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #000;
}

.program-content {
    display: flex;
    gap: 2rem;
   
}



.program {
    flex: 1;
    background-color: var(--cor-header);
    padding: 6rem;
    margin: 3rem;
    border-radius: 10px;
    box-shadow: 0 5px 12px #000;
    display: flex;
    flex-direction: column;
}

.program h3 {
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    font-size: 2rem;
    font-weight: bold;
    text-shadow: 1px 1px 5px #000;
}

.date {
    text-align: center;
    margin-top: 2rem;
    text-transform: uppercase;
    color: var(--cor-principal);
    font-size: 2rem;
    font-weight: bold;
    text-shadow: 1px 1px 5px #000;
}

.program p {
    color: #fff;
    margin-top: 2rem;
    font-size: 1.5rem;
    flex: 1;
}



.adress {
    flex: 1;
    color: #fff;
    text-align: center;
    padding-top: 2rem;
    font-size: 2rem;
    letter-spacing: 1px;
}

.cta-btn {
    text-decoration: none;
    color: #fff;
    background-color: var(--cor-principal);
    border-radius: 6px;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 1rem;
    text-align: center;
}

.cta-btn:hover {
    border: 1px solid #fff;
    background-color: transparent;
}





























    

    

